{{!-- {{#each posts as |post|}} --}}
<div class="card commentCard" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title post-titleCard">Post Title{{post.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Username{{post.title}}</h6>
    <p class="card-text">Comment- i.e Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Reply</a>
  </div>
</div>
 {{!-- {{/each}} --}}