<!-- Flickity HTML init -->
{{!--carousel--}}
  <div class="ui fluid category search" id="searchBar">
    <div class="ui icon input">
      <form id="searchTV">
        <div style="display: none;">
          <input type="submit" name="prevent-enter-submit" onclick="return false;">
        </div>
        <input id="prompt" type="text" placeholder="search for tv shows..." />
        <i class="search icon" id="search-icon" onclick="searchTVshows()"></i>
      </form>
    </div>
    </div>

      <h2>Trending TV Shows...</h2>
<div class="movie-gallery">
  <div class="gallery-cell" id="cell-1">
    <img id="img-c1"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
  <div class="gallery-cell" id="cell-2">
        <img id="img-c2"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
  <div class="gallery-cell" id="cell-3">
        <img id="img-c3"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
  <div class="gallery-cell" id="cell-4">
        <img id="img-c4"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
  <div class="gallery-cell" id="cell-5">
        <img id="img-c5"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
  <div class="gallery-cell" id="cell-6">
        <img id="img-c6"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
  <div class="gallery-cell" id="cell-7">
        <img id="img-c7"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
  <div class="gallery-cell" id="cell-8">
        <img id="img-c8"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
</div>
<footer>
<div class="cardfooter card text-center" id="footer">
  <div class="card-header footer-section">
  </div>
  <div class="card-body" >
    <h5 class="card-title footer-title">TVChatter</h5>
    <p class="card-text footer-paragraph">A place where your opinion matters</p>
    <a href="/signup" class="btn btn-primary">Sign Up</a>
  </div>
  </footer>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/js/flickity.js"></script>
<script src="/js/homepage-script.js"></script>

