<!-- Flickity HTML init -->
{{!--carousel--}}
<div class="movie-gallery">
  <div class="gallery-cell" id="cell-1">
    <img id="img-c1"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
  <div class="gallery-cell" id="cell-2">
        <img id="img-c2"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
  <div class="gallery-cell" id="cell-3">
        <img id="img-c3"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
  <div class="gallery-cell" id="cell-4">
        <img id="img-c4"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
  <div class="gallery-cell" id="cell-5">
        <img id="img-c5"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
  <div class="gallery-cell" id="cell-6">
        <img id="img-c6"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
  <div class="gallery-cell" id="cell-7">
        <img id="img-c7"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
  <div class="gallery-cell" id="cell-8">
        <img id="img-c8"
         src="/images/poster_placeholder (233x350).png"
         data-img ="0"
         />
  </div>
</div>
<div class="ui fluid category search">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="TV Show...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/js/flickity.js"></script>
<script src="/js/homepage-script.js"></script>

