{{!--username log in--}}
<div class="mb-3 sign-up">
  <label for="username" class="form-label">Username</label>
  <input
    type="text"
    class="form-control"
    id="usernameSignup"
    placeholder="username"
    style="width: 50rem;"
  />
</div>
{{!--password log in--}}
<div class="mb-3 sign-up">
  <label for="password" class="form-label">Password</label>
  <input
    type="text"
    class="form-control"
    id="passwordSignup"
    placeholder="password"
     style="width: 50rem;"
  />
</div>
{{!--submit button--}}
<form class="signup-form sign-upBtn">
<div class="form-group" id="signupBtn">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>
</form>