{{!username log in}}
<div class="mb-3 sign-up">
  <label for="username" class="form-label">Username</label>
  <input
    type="text"
    class="form-control"
    id="usernameLogin"
    placeholder="username"
    style="width: 50rem;"
  />
</div>
{{!password log in}}
<div class="mb-3 sign-up">
  <label for="password" class="form-label">Password</label>
  <input
    type="password"
    class="form-control"
    id="passwordLogin"
    placeholder="password"
    style="width: 50rem;"
  />
</div>

<div class="form-group">
  <button class="btn btn-primary" id="logInBtn">Submit</button>
</div>

<script src="/js/login.js"></script>