  <div class="ui fluid category search">
    <div class="ui icon input">
      <form id="searchTV">
        <div style="display: none;">
          <input type="submit" name="prevent-enter-submit" onclick="return false;">
        </div>
        <input id="prompt" type="text" placeholder="tv shows..." />
        <i class="search icon" id="search-icon" onclick="searchTVshows()"></i>
      </form>
    </div>
<div class="movie_card" id="tomb">
  <div class="blur_back">
    <img id="poster" src="" />
  </div>
  <div class="info_section">
    <div class="movie_header">
      <img id="logo" src="" />
      <h1 id="title">Not found</h1>
      <h4 id="tagline">...</h4>
      <span id="genre">...</span>
      <h4 id="date">...</h4>

    </div>
    <div class="movie_desc">
      <p class="text" id="desc">...</p>
    </div>
  </div>

  <input type="text">

  {{#each comments as |comment|}}
  <div class="card commentCard" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title post-titleCard">Post Title{{post.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Username{{post.title}}</h6>
    <p class="card-text">Comment- i.e Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Reply</a>
  </div>
</div>
  {{/each}}

  <script src="/js/tvshows-script.js"></script>