  <div class="ui fluid category search">
    <div class="ui icon input">
      <form id="searchTV">
        <div style="display: none;">
          <input type="submit" name="prevent-enter-submit" onclick="return false;">
          </div>
        </div>
        <input id="prompt" type="text" placeholder="tv shows..." />
        <i class="search icon" id="search-icon" onclick="searchTVshows()"></i>
      </form>
    </div>
<div class="movie_card" id="tomb">
  <div class="blur_back">
    <img id="poster" src="" />
  </div>
  <div class="info_section">
    <div class="movie_header">
      <img id="logo" src="" />
      <h1 id="title">Not found</h1>
      <h4 id="tagline">...</h4>
      <span id="genre">...</span>
      <h4 id="date">...</h4>

    </div>
    <div class="movie_desc">
      <p class="text" id="desc">...</p>
    </div>
  </div>
</div>

  {{!--This shows previous posts/or comments? made by other users--}}
    {{#each comments as |comment|}}
      <div class="card commentCard" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title post-titleCard">{{user.username}}</h5>
    <p class="card-text">{{comment.user_comment}}</p>
  </div>
</div>
  {{/each}}

  <div class="card commentCard" style="width: 60rem;">
  <div class="card-body">
      <form>
        <label for="formGroupExampleInput">Post Title</label>
    <input type="text" class="form-control postInputForm" id="content" placeholder="Comments...">
  </div>
      <div class="col-sm-9">
      <button class="btn btn-primary postbutton" id="submitContent">POST</button>
    </form>
    </div>
</div>

<script src="/js/tvshows-script.js"></script>