<div class="movie_card" id="tomb">
  <div class="blur_back">
    <img id="poster" src="" />
  </div>
  <div class="info_section">
    <div class="movie_header">
      <img id="logo" src="" />
      <h1 id="title">Not found</h1>
      <h4 id="tagline">...</h4>
      <span id="genre">...</span>
      <h4 id="date">...</h4>

    </div>
    <div class="movie_desc">
      <p class="text" id="desc">...</p>
    </div>
  </div>

  <input type="text">

  {{#each comments as |comment|}}
  
  {{/each}}

  <script src="/js/tvshows-script.js"></script>